@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'),
    url('./samsungsharpsans-medium.woff') format('woff');
}

.main {
  font-family: 'Samsung Sharp Sans Medium', Fallback, sans-serif;
  color: #6886c5;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media only screen and (max-width: 768px) {
  .main {
    margin-left: 0;
    margin-right: 0;
  }
}

.black-color {
  color: #555555;
}
.pos-color {
  color: #21bf73;
}

.neg-color {
  color: #ff798b;
}

.error-color {
  color: #eb87be;
}

.react-select__value-container {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  min-height: 100%;
}
